body{
    background-color: aquamarine;
}
.div-imgHome{
    height: 100%;
    background-color: #041c2c;
    display: flex;
}
.img-home{
    height: 400px;
    width: 50%;
    margin:auto;
    
}
.section2{
    background-color: #dde0cf;
    height: 293px;
}